@model MiniCartMvc.ViewModels.AccountSettingsViewModel
@{
    ViewData["Title"] = "Details";
}



<div class="container mt-5">
    <h2>Account Settings</h2>
    <hr />
    
    @if (ViewData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            <i class="fa fa-check-circle" aria-hidden="true"></i> 
            @ViewData["SuccessMessage"]
        </div>
    }
    @if (ViewData["PasswordChangedMessage"] != null)
    {
        <div class="alert alert-success">
            <i class="fa fa-check-circle" aria-hidden="true"></i>
            @ViewData["PasswordChangedMessage"]
        </div>
    }

    <div>
        <h3>Your Account Information</h3>
        <hr />
        <p><strong>Name:</strong> @Model.Name</p>
        <p><strong>Surname:</strong> @Model.Surname</p>
        <p><strong>Username:</strong> @Model.Username</p>
        <p><strong>Email:</strong> @Model.Email</p>
        <p><strong>Phone Number:</strong> @Model.PhoneNumber</p>
    </div>


    <div>
        <a href="/Accounts/Edit">Change Account Settings</a>
        
    </div>
</div>


@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}
