@model MiniCartMvc.Models.Cart
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">

            <h1>Shopping Cart</h1>
            <hr />

            @if (Model.CartLines.Count > 0)
            {
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Quantity</th>
                            <th>Product Name</th>
                            <th>Price</th>
                            <th>Sub Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.CartLines)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.Product.ImagePath))
                                    {
                                        <img src="@item.Product.ImagePath" class="img-fluid" alt="@item.Product.Name" style="max-width: 300px; height: auto;" />
                                    }
                                    else
                                    {
                                        <svg class="bd-placeholder-img img-fluid" width="200" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="No Image" preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <rect width="100%" height="100%" fill="#6c757d"></rect>
                                            <text x="50%" y="50%" fill="#dee2e6" dy=".3em" text-anchor="middle" dominant-baseline="middle">No Image</text>
                                        </svg>
                                    }
                                </td>
                                <td>
                                    @item.Quantity
                                </td>
                                <td>
                                    @item.Product.Name
                                </td>
                                <td>
                                    @item.Product.Price
                                </td>
                                <td>
                                    @((item.Product.Price * item.Quantity).ToString("c"))
                                </td>
                                <td>
                                    @using (Html.BeginForm("RemoveFromCart", "Carts"))
                                    {
                                        @Html.Hidden("Id", item.Product.Id)
                                        //silmek istediğimiz eleman
                                        <button type="submit" class="btn btn-danger">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            Delete
                                        </button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4"></td>
                            <td>
                                @Model.Total().ToString("c")
                            </td>
                        </tr>
                    </tfoot>

                </table>
                <div class="text-center pb-3">
                    <a href="/Home/List" class="btn btn-primary">
                        <i class="fa-solid fa-cart-shopping"></i>
                        Continue the Shopping
                    </a>
                    <a href="/Carts/Checkout" class="btn btn-primary">
                        <i class="fa-solid fa-circle-check"></i>
                        Complete the Shopping
                    </a>
                </div>

            }
            else
            {
                <div class="alert alert-warning" role="alert">
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                    There isn't any product in your cart
                </div>
            }

        </div>
    </div>
</div>
